@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IT Company</h1>
    <p class="lead">Hier vindt u alle info over alle kassa's, verspreid over de verschillende verenigingen.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Verenigingen</h2>
        <p>
          een overzicht van alle verenigingen die het kassasysteem gebruiken.
        </p>
        <p><a class="btn btn-info" href="~/Views/Verenigingen/">Verenigingen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kassa's</h2>
        <p>Een overzicht van alle kassa's.</p>
        <p><a class="btn btn-info" href="~/Views/Kassa/">Kassa's &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logs</h2>
        <p>Een overzicht van al de errors van de kassa's.</p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>